.App {
  text-align: center;
  height: 100vh;
  background-image: url("https://images6.alphacoders.com/321/thumb-1920-321927.jpg");
}

.container {
  height: 60px;
  display: flex;
}

h1 {
  border: 2px solid black;
  max-width: 400px;
  margin: auto;
  margin-top: 25px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.btn {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 25px;
}


